@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
@import url(../resourse/normaliz-style-min.css);
@import url(../resourse/fem-footer-style.css);
// # Front-end Style Guide
// ## Layout

// The designs were created to the following widths:
// - Mobile: 375px
// - Desktop: 1440px

// ## Colors
// ### Primary
$color-Pale-blue: hsl(225, 100%, 94%); //bg
$color-Bright-blue: hsl(245, 75%, 52%); //btn

// ### Neutral
$color-Very-pale-blue: hsl(225, 100%, 98%); // bg_items
$color-Desaturated-blue: hsl(224, 23%, 55%); //paragraf
$color-Dark-blue: hsl(223, 47%, 23%); //headers

// ## Typography
$font-size-paragraph: 16px;

// ### Font
$font-Family: "Red Hat Display";
$font-W5: 500;
$font-W7: 700;
$font-W9: 900;

// ## my Variables
$card-w: 450px;
$card-h: 695px;
$margin: 30px;

// ===============
// ### main styles

body {
	width: 100%;
	background-image: url(../images/pattern-background-desktop.svg);
	background-repeat: no-repeat;
	background-size: 100% 50%;
	background-position: top center;
	background-color: $color-Pale-blue;
	font-family: $font-Family;
	font-size: $font-size-paragraph;
	line-height: 1.5em;
	// letter-spacing: 0.7px;
	color: $color-Desaturated-blue;

	@media (max-width: 576px) {
		background-image: url(../images/pattern-background-mobile.svg);
		// background-size: 100% 50%;
	}
}

.conteiner__fluid {
	width: 100%;
	height: 100vh;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

// ===============
// ### main styles

.card__conteiner {
	margin: 0 $margin - 10px;
	max-width: $card-w;
	height: $card-h;
	background-color: white;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);

	@media (max-width: 375px) {
		height: auto;
	}
}

.card_picture {
	width: 100%;
}

.card_content {
	padding: 40px;
	text-align: center;
}

.card_name {
	margin: 0 $margin;
	& h1 {
		// margin-top: $margin;
		color: $color-Dark-blue;
		font-size: $font-size-paragraph * 2;
		font-weight: $font-W9;
	}

	& p {
		margin-top: $margin;
	}
}

.card_item {
	margin-top: $margin;
	background-color: $color-Very-pale-blue;
	border-radius: 10px;
	padding: 20px;
	vertical-align: super;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, auto);
	align-items: center;
	justify-content: space-between;
}

.gap {
	gap: 20px;
}

.inln-blk {
	// display: inline-block;
}

.item_pic {
	width: 100%;
	height: 100%;
}

.item_name {
	// margin-right: $margin * 2.5;

	& h2 {
		font-weight: $font-W9;
		color: $color-Dark-blue;
	}

	& p {
		font-weight: $font-W5;
	}
}

.item_link {
	& a {
		text-decoration: underline;
		font-weight: $font-W7;
		color: $color-Bright-blue;
	}

	& a:hover {
		color: $color-Desaturated-blue;
		text-decoration: none;
	}
}

.btn {
	margin-top: $margin;
	width: 100%;
	height: 50px;
	background-color: $color-Bright-blue;
	border-radius: 10px;
	color: white;
	font-weight: $font-W7;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);

	&:hover {
		background-color: $color-Desaturated-blue;
	}
}

.cancel {
	margin-top: $margin;

	& a {
		color: $color-Desaturated-blue;
		font-weight: $font-W7;
	}

	& a:hover {
		color: $color-Dark-blue;
	}
}
